<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IeTeacherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50830/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:50830/eTeacherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IeTeacherService"
                contract="eTeacherServiceReference.IeTeacherService" name="BasicHttpBinding_IeTeacherService" />
        </client>
    </system.serviceModel>
</configuration>